/*
    Pedro Benítez Fuentes
*/
/*Principales*/
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    width: 80%;
    margin: auto;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
caption{
    color: blue;
}
th{    /*No se colapsan las tablas*/
    border: solid;
    border-color: black;
    border-collapse: collapse;
}
thead{    /*No cambia el color de texto*/
    color: red;
}
tfoot{
    color: red;
}



/*Clases*/
.destacado{    /*No hace caso la clase*/
    color: purple;
}
.especial{
    color: purple;
}
.rojo{
    color:red;
}
.verde{
    color: green;
}
.azul{
    color: blue;
}



/*IDs*/
#titulo{
    color: teal;
}
#subtitulo{
    color: blue;
}
#adicional{
    color: olive;
}
#especial{
    color: fuchsia;
}