*{
    margin: 0px;
    box-sizing; border-box
}
html{background-color: aquamarine;}

.primero{
background-image:url(Imagenes/1.jpg);
border-style: solid;
border-radius: 10px;

}

.segundo{
background-image: url(Imagenes/2.jpg);
border-style: double;
border-radius: 10px
}

.tercero{
background-image:url(Imagenes/3.jpg);
border-style: ridge;
    border-radius: 10px;

}