*{
    margin: 0px;
    box-sizing; border-box
}
html{background-color:darkorange;}

.titulo{
    background-color:chocolate;
    border-style: ridge;
    border-radius: 200px;

}
.menu{
    float:center;
    width: 7%;
    overflow: hidden;
    margin: 20px auto
}
.menu a{
    background-color: aqua;
    text-decoration: none;
    padding: 10px;
    display:block;
    
    
}

.menu a:hover{
    background-color: white;
}