/*
    Ejercicio de Pedro Benítez Fuentes
*/
*{
    box-sizing: border-box;
    margin: 0px;
}
header{
    margin:20px 20px 50px 20px;
}
.enua{
    background-color: royalblue;
    padding: 5px
}
.enub{
    background-color: aquamarine;
    padding: 5px
}
main{
    display: flex;
    justify-content: center;
}
main section{
    flex-basis: 15.7%;
    text-align: center;
    border: solid 3px;
}

.primero{
    color: black;
    text-align: center;
    background-color: aqua;
    width: 94.2%;
    margin: auto;
    border: solid;
}
.Blanco{
    background-color: white;
}
.Lunes{
    background-color: white;
}
.Martes{
    background-color: white;
}
.Miercoles{
    background-color: white;
}
.Jueves{
    background-color: white;
}
.Viernes{
    background-color: white;
}
.ral{
    background-color: red;
}
.mme{
    background-color: skyblue;
}
.som{
    background-color: limegreen;
}
.aplof{
    background-color: palevioletred;
}
.fol{
    background-color: yellow;
}
.recreo{
    border: solid;
    width: 94.2%;
    margin: auto;
}
.recreoa{
    border: none;
}