/*
    Ejercicio X2 de Pedro Benítez Fuentes
*/
*{
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 20px;
}
/*caption{
    border: solid;
    padding: 10px;
}*/
img{
    width: 120px
}

table{
    margin: auto;
    border: 7px solid;
    margin-top: 100px;
    border-color: blue;
}
caption{
    border: 5px dotted;
    border-color: blue;
    border-radius: 5px; 
}
td{
    padding-top: 10px;
    padding-right: 10PX;
    padding-left: 10PX;
}
