/*
    Ejercicio 7
*/
body{
    background-color: darkgrey;
}
header{
    text-align: center;
}
aside{
    height: 100px;
    border: solid;
    width: 80%;
    text-align: center;
    background-color: darkgoldenrod;
    
}
div section{
    margin: 10px
}
div section p{
    height: 100px;
}
.primero{
    background-color: yellow;
    width: 40%;
    float: left;
    border: solid;
}
.segundo{
    background-color: seagreen;
    width: 40%;
    float: right;
    border: solid;
}
.tercero{
    background-color: grey;
    width: 40%;
    float: left;
    border: solid;
}
.cuarto{
    background-color: orangered;
    width: 40%;
    float: right;
    border: solid;
}
.quinto{
    background-color: green;
    width: 40%;
    border: solid;
}
