/*
    Ejercicio 5 de Pedro Benítez Fuentes
*/
body{
    background-color: darkgrey;
}
h2{
    background-color: gray;
    width: 90%;
    margin: auto;
}
.contenedor{
    width: 70%;
    margin: auto;
}
.contenedor2{
    width: 70%;
    margin: auto;
}
img{
    width: 75%;
}
aside{
    flex: 1 0 30%;
}
section{
    display: flex;
}
/*section{
    display: flex;
    justify-content:;
}
/*main section{
    flex-basis: 25%;
}