/*
    Ejercicio 6 de Pedro Benítez Fuentes
*/
body{
    background-color: seagreen;
}
header{
    color: white;
}
aside{
    border: solid;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
}
div{
    display: block;
}
div section{
    border: solid;
    width: 50%;
    margin: 20px 0px 20px 0px
}
.segundo{
    background-color: red;
    float: left;
}
.quinto{
    background-color: red;
    float: left;
}
.tercero{
    background-color: orange;
    float: right;
}
.sexto{
    background-color: orange;
    float: right;
}
.contenedor{
    color: white;
}
.cuarto{
    color: white;
    background-color: blue;
}
.septimo{
    color: white;
    background-color: blue;
}