/*
    Pedro Benítez Fuentes
*/
body{
    background-color: grey;
}
header{
    background-color: darkslategrey;
    color: white;
    margin-bottom: 10px;
}
section{
    border: solid;
    border-color: darkslategrey;
    width: 40%; 
    float: right;
     /*No he centrado los dos porque en la foto del moodle se ven como mas hechados hacia la derecha */
    /*height: 660px;*/
    margin: auto 45px auto auto;
}
div{
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
h2{
    background-color: darkslategrey;
    color: white;
}
h3{
    background-color: lime;
    color: white;
    border-radius: 10px 10px 0px 0px;
}