/*
    Creacion de Pedro Benitez
    Ejercicio 2
*/
*{
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    width: 20px;
    border-radius: 50%;
    float: right;
}
aside{
    margin-top: 0px;
}
aside a{
    text-decoration: none;
    margin-left: 20px;
}
.partea{
    float: left;
}
.parteb{
    float: right;
}
.centro{
    margin-top: 150px;
}
section{
    display: flex;
    justify-content: center;
}
section input, p, a{
    margin-top: 20px;
}
section a{
    margin-left: 10px;
    margin-bottom: 77px
}
footer{
    background-color: darkgrey;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.partefa{
    float: left;
}
.partefb{
    float: right;
}
.buscador{
    padding: 10px;
    width: 45%;
    border-radius: 50px;
}